body{
    font-family: Raleway;
    margin-top: 70px;
    width: 99vw;
}

#bootstrap-override .container-fluid{
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a,u {
    text-decoration: none !important;
    color: black;

}

li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    float:right;
}
li img {
    float:left;
}
.jump, .Want{
    max-width: 99vw;
    height: auto;
    display: block;
}

.img{
    margin-top: 2vh;
}

.featured{
    background-color: #327B97;
    min-height: 55vh;
}

.MoreMoney{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 0px;
    min-height: 55vh;
}

.moments{
    margin-top: 9vh;
}

.Featdiv{
    padding-top: 25px;
    padding-bottom: 25px;
}

.FeatTi{
    text-align: center;
    color: white;
    padding-top: 35px;
    padding-bottom: 20px;
}

.cont{
    width: 100vw;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

button{
    background-color: #62B75F;
    border: none;
    padding: 10px 32px;
}

.learnmore{
    margin-top: 10vh;
    margin-bottom: 5vh;
    }

.learnmore button {
    margin-top: 2vh;
}
