ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

a,u {
    text-decoration: none !important;
    color: black;

}
.NavigationBar {
    background-color: white;
    padding-right: 30px;
}

.active {
     color: #62B75F !important;
}

.Nav:hover{
    background-color: #d3d3d3;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    float:right;
}
li img {
    float:left;
}

.Jump { 
   position: relative; 
   width: 100vw;
   height: auto;
}

.Ocean{
    max-width: 100vw;
    max-height: auto;
    position: center;
}

.to{
    display: inline;
    padding: 20px;
}

.con{
    display: table;
    margin: auto;
    padding: 50px;
}

.featured{
    background-color: #327B97;
    max-height: fit-content;
}

.FeatTi{
    
	color: white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
}

h3{
    font: Raleway;
    font-size: 30px;
}

.links{
	vertical-align: middle;
}

#MMText{
    color: black;
    padding-top: 100px;
    padding-bottom: 20px;
}

.MMpictures{
    position: center;
    max-width: 25vw;
    max-height: auto;
}

.still{
    color: white;
    position: center;
    padding-top: 40px;
    padding-bottom: 10px;
    width:100%;
}

.want{
    position: relative;
    width: 100%;
}

#img2{
    position: center;
}

.button{
    display: block;
    width: 200px;
    height: 40px;
    background: #62B75F;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin: auto;
}
