body {
    font-family: Raleway;
    margin-top: 70px;
    width: 100vw;
}

#bootstrap-override .container-fluid {
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a,
u {
    text-decoration: none !important;
    color: black;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    float: right;
}

li img {
    float: left;
}

.jump,
.Want {
    max-width: 100vw;
    height: auto;
    display: block;
}

.img {
    margin-top: 2vh;
}

.featured {
    background-color: #327B97;
    min-height: 55vh;
}

.MoreMoney {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 0px;
    min-height: 55vh;
}

.moments {
    margin-top: 9vh;
}

.Featdiv {
    padding-top: 25px;
    padding-bottom: 25px;
}

.FeatTi {
    text-align: center;
    color: white;
    padding-top: 35px;
    padding-bottom: 20px;
}

.event {}

.cont {
    width: 90vw;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

button {
    background-color: #62B75F;
    border: none;
    padding: 10px 32px;
}

.learnmore {
    width: 50vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
}


/* Contact Buttton*/

a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px 30px;
    color: RGBA(0, 0, 0, 0.6);
    box-shadow: RGBA(52, 193, 95, 0.4) 0 0px 0px 2px inset;
}

@media (max-device-width: 1350px) {
    .heading {
        font-size: 40px !important;
    }
    .subheading {
        font-size: 20px !important;
    }
}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: RGBA(52, 193, 95, 0.7) 0 0px 0px 40px inset;
}

/* popup */

body.modal-open  #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 50px;
    display:block;
}

.popup{
    background-color: rgba(20, 20, 20, 0.70);
    color: white;
}

.option1{
    text-align: center;

}

#sel1{
    text-align: center;

}

@media screen and (min-width: 992px){
    .row2sel{
        padding-top: 7vh;
    }
}

button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

@media (max-device-width: 1350px) {
    .heading {
        font-size: 40px !important;
    }
    .subheading {
        font-size: 20px !important;
    }
}

button.button {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px auto;
    padding: 10px 30px;
    color: RGBA(0, 0, 0, 0.6);
    box-shadow: RGBA(52, 193, 95, 0.4) 0 0px 0px 2px inset;
    font-size: 24px;
    background-color: white;
}

button.button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: RGBA(52, 193, 95, 0.7) 0 0px 0px 40px inset;
}
